@font-face {
    font-family: 'Franklin Gothic';
    src: url(../fonts/'FranklinGothic-Medium.eot');
    src: url(../fonts/'FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url(../fonts/'FranklinGothic-Medium.woff2') format('woff2'),
        url(../fonts/'FranklinGothic-Medium.woff') format('woff'),
        url(../fonts/'FranklinGothic-Medium.ttf') format('truetype'),
        url(../fonts/'FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
body{
    font-family:Arial, sans-serif;
    overflow-x:hidden;
}
nav{
    width:100%;
    height:60px;
    background:#344051;
}
.logo{
    color:#fff;
    font-size:23px;
    line-height:60px;
    float:left;
    -webkit-animation:comming 2s ease;
    -o-animation:comming 2s ease;
    animation:comming 2s ease;
    font-family:'Franklin Gothic', sans-serif;
}
@keyframes comming{
    from{
        opacity:0; 
    }
    to{
        opacity:1;
    }
}
@keyframes topshift{
    from{
       opacity:0; 
       margin-bottom:80px;
    }
    to{
        opacity:1;
        margin-bottom:0px;
    }
}
.menu{
    float:left;
}
.menu li{
    float:left;
    font-size:14px;
    font-weight:600;
    color:white;
    margin-right:25px;
    line-height:60px;
    text-transform:uppercase;
    -webkit-animation:topshift 0.4s ease forwards;
    -o-animation:topshift 0.4s ease forwards;
    animation:topshift 0.4s ease forwards;
    opacity:0;
}
.white-btn{
    color:white;
}
.menu li:nth-child(2){
    animation-delay:0.4s;
}
.menu li:nth-child(3){
    animation-delay:0.8s;
}
.menu li:nth-child(4){
    animation-delay:1.2s;
}
.menu li:nth-child(5){
    animation-delay:1.6s;
}
.menu li:nth-child(6){
    animation-delay:2s;
}
.menu li a{
    transition:all 0.3s;
    color:white;
    transform:scale(1);
    display:inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color:white;
}
.menu li a:hover{
    color:#e88604;
}
.menu li a:active{
    transform:scale(1.1);
}
.main{
    width:100%;
    height:100%;
    background:url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
    box-shadow: 0px -17px 27px -19px rgba(0,0,0,0.75) inset;
}
.title_container{
    float:left;
    text-align:center;
    color:#2c384a;
    width:100%;
}
.title_container h1{
    font-size:72px;
    text-align:center;
    font-family:Arial, sans-serif;
    font-weight:600;
}
.title_container h4{
    text-align:center;
    color:#79818d;
    font-size:22px; 
}
.custom-css3{
    font-size:120px;
    color:red;
}
.title_container input{
    height:40px;
    text-align:center;
    border:2px solid #6d7682;
    color:#6d7682;
    font-weight:bold;
    border-radius:5px 5px 5px 5px;
    background:none;
    cursor:pointer; 
    padding:0px 15px;
    margin-left:30px;
}
.title_container input{
    transition:all 0.2s;
    transform: scale(1);
}

.title_container input:hover{
    height:40px;
    text-align:center;
    border:2px solid #6d7682;
    color:white;
    font-weight:bold;
    border-radius:5px 5px 5px 5px;
    padding:0px 15px;
    background:none;
    cursor:pointer;
    background:#344051;
}
.title_container input:active{
    transform:scale(1.1);
}
@media(max-width:991px){
    .title_container{
        color:white;
        position:relative;
        z-index:3;
    }
    .title_container h4{
        color:white;
        position:relative;
        z-index:3;
    }
    .title_container input{
        color:white;
        position:relative;
        z-index:3;
        border:2px solid white;
    }
    .main{
        position:relative;
    }
    .main::after{
        content:"";
        bottom:0;
        top:0;
        left:0;
        right:0;
        position:absolute;
        background:rgba(0,0,0,0.4);
    }
    
}
.line{
    width:70px;
    height:5px;
    background-color:#d17700;
    margin:30px auto;  
}

.about_me{
 padding-bottom:100px;
}

.about_me h1{
    text-transform:uppercase;
    font-weight:bold;
    font-size:33px;
    margin-top:70px;
}

.about_me img{
    margin:0px auto;
    display:block;
    transform: scale(1);
    transition: all 1.6s .0s ease;
}

.about_me img:hover{
    transform: scale(1.2);
    -webkit-transition: all 1.6s .0s ease;
    -moz-transition: all 1.6s .0s ease;
    -o-transition: all 1.6s .0s ease;
    transition: all 1.6s .0s ease;
}

.about_me #first{
    
    margin-top:21px;
    font-size:17px;
    transform: scale(1);
    transition: all 1.6s .0s ease;
}
.about_me #first:hover{
    transform: scale(1.1);
    text-shadow: 0px 1px 7px rgba(0,0,0,0.6);
    transition: all 1.6s .0s ease;
}

.about_me #second{
    margin-top:41px;
    font-size:17px;
    transform: scale(1);
    transition: all 1.6s .0s ease;
}
.about_me #second:hover{
    transform: scale(1.1);
    text-shadow: 0px 1px 7px rgba(0,0,0,0.6);
    transition: all 1.6s .0s ease;   
}

.about_me input{
    width:180px;
    border:2px solid #717883;
    text-align:right;
    font-size:16px;
    font-weight:bold;
    border-radius:5px 5px;
    background:url(../img/icon_save.png) no-repeat;
    background-position:13px 50%;
    padding:10px 10px;
    margin-top:10px;
    cursor:pointer;
    color:#717883;
    transition:all 0.2s;
    transform: scale(1);
}
.about_me input:hover{
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.75);
    transform:translate(2px,-2px);
    transition-duration:0.3ms;
}
.about_me input:active{
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.75) inset;
    transform:translate(-2px, 2px);
    transition-duration:0.3ms;
}
.i_can_container{
    background:url(../img/bg_about.jpg) no-repeat;
    background-attachment:fixed;
}
.i_can{
    color:#384354;
    padding-top:30px;
    padding-bottom:90px;
}
.i_can img{
    margin-bottom:10px;
    height:40px;
}

.i_can h2{
    text-align:center;
    font-weight:bold;
    font-size:33px;
    text-transform: uppercase;
    margin-top:30px;
}

h4{
    color:#cf7600;
    font-weight:bold;
    font-size:18px;
    margin-top:40px;
    margin-bottom:20px;
}

.design{
    
    font-size:17px;
    
}
.develop{
    
    font-size:17px;
    
}
.seo{
    
    font-size:17px;
    
}
.marketing{
    
    
    font-size:17px;
}

.case{
    color:#384354;
    font-size:17px;
    max-width:100%;
}

.case h2{
    font-weight: bold;
    text-transform:uppercase;
    font-size:33px;
    margin-top:30px;
}

.case img{
    margin-top:30px;
    width:100%;
}
.descript p{
    margin:10px 0px;
}
.descript h3{
    font-weight:bold;
    text-align:left;
}
.firs_block{
    margin-top:5px;
}
.gallery input{
    text-transform:uppercase;
    font-size:20px;
    font-weight:bold;
    color:white;
    padding:10px 5px;
    border-radius:5px 5px;
    background-color:#63b5ae;
    cursor:pointer;
    transform:scale(1);
    transform:translate(-2px,2px);
    z-index:-1;
}
.gallery input:hover{
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.75);
    transform:translate(2px,-2px);
    transform:scale(1.1);
    
}
.gallery input:active{
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.75)inset;
    transform:translate(-2px,2px);
    transition-duration:0.3ms;
}
.price{
    width:100%;
    margin-top:200px;
    box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.75);
}

.price h2{
    color:#1c2534;
    font-size:45px;
    font-weight:bold;
}
.price h3{
    color:#1c2534;
    font-size:29px;
    text-align:left;
    margin-top:50px;
}
#list1{
    text-align:left;
    color:#737373;
    padding:10px 10px;
    
}
#list2{
    text-align:left;
    color:#737373;
    padding:10px 10px;
}
#list3{
    text-align:left;
    color:#737373;
    padding:10px 10px;
}
#total_line{
    height:3px;
    background-color:#eeeeee;
    margin:35px auto 20px auto;
}
.total{
    font-weight:bold;
    color:#1c2534;
    font-size:20px;
}
.total p{
    margin-top:20px; 
}
.stat_container{
    background:url(../img/stat_bg.jpg) 50% no-repeat;
    background-attachment:fixed;
    width:100%;
}

.stat{
    width:100%;
    padding-top:100px;
}

.stat h2{
    text-align:center;
    color:#384354;
    font-weight:bold;
    font-size:33px;
    text-transform:uppercase;
}

.stat h3{
    font-size:33px;
    color:#384354;
}

.client{
    
    font-size:17px;
}
.hours{
    

    font-size:17px;
}
.project_end{

    font-size:17px;
}
.awards{

    font-size:17px;
}

.reviews{
    padding-top:50px;
    text-align: center;

}

.reviews img{
    display:inline-block;
    transform: scale(1);
    -webkit-transition:all 1.6s .0s ease ;
    -o-transition:all 1.6s .0s ease ;
    transition:all 1.6s .0s ease;    
}

.reviews img:hover{
    transform: scale(1.2);
    transition: all 1.6s .0s ease;
}

.reviews h1{
    color:#384354;
    font-weight:bold;
    font-size:33px;
    text-transform:uppercase;
}

.reviews p{
    margin-top:30px;
    transform:scale(1);
    transition:all 1.6s .0s ease;
}

.reviews p:hover{
    transform:scale(1.2);
    transition:all 1.6s .0s ease;
    text-shadow:0px 1px 7px rgba(0,0,0,0.6);
}

.contacts_container{
    background:url(../img/contact_bg.jpg) 50%  no-repeat;
    height:808px;
}
.contacts{
    width:100%;
    color:#fff;
    margin-top:40px;
}


.contacts h2{
    font-weight:bold;
    font-size:33px;
    text-transform:uppercase;
    margin-top:100px;
}

.contacts h3{
    margin-top:40px;
    font-size:20px;
    font-weight:bold;
    text-transform:uppercase;
}


.contacts .position img{
    height:25px;
    width:30px;
}
 
.contacts form{
    margin-top:30px;
}
form #name{
    height:35px;
    background-color:#d3d6dc;
}
form #mail{
    height:35px;
    background-color:#d3d6dc;
    margin-left:10px;
}
form textarea{
    height:55px;
    background-color:#d3d6dc;
    margin-top:30px;
}
#button{
    width:140px;
    padding:10px;
    background:none;
    border:2px solid #fff;
    border-radius:5px 5px 5px 5px;
    padding:10px;
    color:#fff;
    font-weight:bold;
    font-size:20px;
    cursor:pointer;
    transition:all 0.2s;
    transform: scale(1);
}
#button:hover{
    background:#d17700;
    color:black;
}
#button:active{
    transform: scale(1.1);
}
/*
.card_container{
    width:100%;
}
.card_container img{
    width:100%;
    margin-top:50px;
}

 
#here{
    width:135px;
    height:55px;
    background-color:#fff;
    
    
    text-transform:uppercase;
    color:black;
    text-align:center;
    padding-top:20px;
    font-weight:bold;
    font-size:17px;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.75);
}*/
footer{
    width:100%;
    background:#344051;
    height:100px;
}
#copy{
    text-align:center;
    font-size:15px;
    color:#fff;
    padding-top:45px;
}